body {
  background-image: url("../images/team_collaboration.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  height: 20%;
  text-align: center;
  margin-bottom: 5%;
}

.title h1 {
  font-size: 50px;
}
.title a {
  text-decoration: none;
  color: black;
}

.back {
  display: block;
  position: relative;
  left: 65%;
  width: 200px;
  font-size: 20px;
  border: solid 1px black;
  background-color: black;
  border-radius: 8px;
  padding: 8px 8px;
  font-weight: 500;
}

.back span {
  color: white;
}

.back:hover {
  box-shadow: 0 0 20px gray;
}

.chart-form {
  width: 30%;
  margin: auto;
  border: solid 2px teal;
  background-color: teal;
  opacity: 0.9;
  border-radius: 10px;
}

.chart-element {
  width: 50%;
  margin: auto;
  font-weight: bolder;
}

.chart {
  text-align: center;
  margin: auto;
}

.chart-box h1 {
  color: red;
}

.no-data {
  color: red;
}
