{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'fs/css/style.css' %}">
    </head>

    <body>
        <div class="title">
            <a href="{% url 'fs-page' %}"><h1>재무정보 열람 페이지</h1></a>
            <a class="back" href="{% url 'main-page' %}"><span>메인 페이지로 이동</span></a>
        </div>
        <div class="fs-form">
            <div class="fs-element">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="검색">
                </form>
            </div>
        </div>
        <div class="fs">
            {% if url %}
            <div class="fs-box">
                <h1>{{ corp.corp_name }} ({{ corp.stock_code }})</h1>
                <iframe src="{{ url }}" style="width:80%; height: 700px;">
                </iframe>
            </div>
            {% else %}
                <p class="no-data">데이터를 불러올 수 없습니다.</p>
            {% endif %}
            {% if post_received %}
                <div class="post-received"></div>
            {% endif %}
        </div>
        <script src="{% static 'fs/js/index.js' %}"></script>
    </body>
</html>